{% extends "base.html" %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
    {% with subject=object.subject %}
        <h1>
            {{ object.title }}
        </h1>
        <div class="module">
            <h2>Описание курса</h2>
            <p>
               <a href="{% url "course_list_subject" subject.slug %}"> {{ subject.title }}</a>.
               {{ object.modules.count }} modules.
               Instructor: {{ object.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url "student_enroll_course" %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" value="Зарегистрироваться">
                </form>
            {% else %}
                <a href="{% url "student_registration" %}" class="button">
                    Войти чтобы подписаться на курс
                </a>
            {% endif %}
            {% if request.user == object.owner %}
                <a href="{% url "course_edit" object.id %}" class="button">
                    Изменить курс
                </a>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}
