

<nav class="nav">
  <div class="nav__container container">
  <a href="/" class="logo">Educa</a>
  <ul class="menu">
    {% if user.is_authenticated %}
      <ul class="nav__items list">
        <li class="nav__item {% if section == 'index' %}nav__item_active{% endif %}">
          <a href="{% url 'course_list' %}" class="nav__link link">Курсы</a></li>
        <li class="nav__item {% if section == 'my_follow' %}nav__item_active{% endif %}">
          <a href="{% url 'student_course_list' %}" class="nav__link link">Мои подписки</a></li>
        <li class="nav__item {% if section == 'new_recipe' %}nav__item_active{% endif %}">
          <a href="{% url 'course_create' %}" class="nav__link link">Создать курс</a></li>
      </ul>
      <ul class="nav__items list">
        <li class="nav__item">
          <a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
      </ul>
    {% else %}
      <ul class="nav__items list">
        <li class="nav__item">
          <a href="{% url 'login'%}" class="nav__link link">Войти</a></li>
      </ul>
    {% endif %}
  </ul>
  </div>
</nav>