{% extends "base.html" %}
{% load static %}
{% load course_filters %}
{% block title %}
  Edit "{{ course.title }}"
{% endblock %}
{% block stylesheet %}
    <link href="{% static "css/form.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="w3-card-4">
    <div class="form-container">
      <div class="w3-container">
        <h1>Edit "{{ course.title }}"</h1>
      </div>
      <div class="w3-container">
        <div class="module" style="width:400px">
          <h2>Course modules</h2>
          <form method="post" class="w3-container">
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" value="Save modules">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
